* {
	box-sizing: border-box;
	font-family: monospace;
}




/*Heading Styles*/

header {
	width: 100%;
	padding: 30px 0;
	text-align: center;
	background-color: white;
	position: fixed;
	top: 0px;
}

#search-nodata {
	width: 90%;
	height: 3em;
	font-size: 16px;
	border-radius: 3px;
	border: 2px solid rgba(238,238,238,.9);
}





/*Main Styles*/

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 108px;
}

img {
	margin: 30px;
}


.lb-image {
	margin: 0;
}



/*Tablet Styles*/

@media screen and (min-width: 520px) {

#search-nodata {
	width: 460px;
}

main {
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}}



/*Desktop Styles*/

@media screen and (min-width: 960px;){

main {
	width: 980px;
	margin: 0 auto;
	justify-content: space-between;
}

img {
	margin: 30px 0;
}}


















